@{
    Layout = null;
}


@using TabFusionRMS.Resource
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <link href="/Images/TabFusion.ico" rel="shortcut icon" type="image/x-icon" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Page-Enter" content="blendTrans(duration=0)" />
    <meta http-equiv="Page-Exit" content="blendTrans(duration=0)" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE" />
    <title>@Languages.get_Translation("pgTiTABWebAccess")</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,700,600italic" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link href="/Content/themes/TAB/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/themes/TAB/css/media.css" rel="stylesheet" />
    <link href="/Content/themes/TAB/css/font-awesome.css" rel="stylesheet" />
    <link href="/Content/themes/TAB/css/simple-sidebar.css" rel="stylesheet" />
    <link href="/Content/themes/TAB/css/linkes_drilldown.css" rel="stylesheet" />
    <link href="/Content/themes/TAB/css/toastrmin.css" rel="stylesheet" />
    <link href="/Content/themes/TAB/css/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css" />
    <link href="/Content/themes/TAB/css/chosen.css" rel="stylesheet" type="text/css" />
    <link href="/Content/themes/TAB/css/custom.css" rel="stylesheet" media="screen, print" />
    <link href="/Content/themes/TAB/css/Fusion10.css" rel="stylesheet" />

    @************"~/bundles/MainJS"******************************@
    <script src="~/Content/themes/TAB/js/jquery-3.4.1.min.js"></script>
    <script src="~/Content/themes/TAB/js/jquery-ui-1.10.4.custom.js"></script>
    <script src="~/Content/themes/TAB/js/jquery.auto-complete.js"></script>
    <script src="~/Content/themes/TAB/js/jquery-cookie-plugin.js"></script>
    <script src="~/Content/themes/TAB/js/data.js"></script>
    <script src="~/Content/themes/TAB/js/bootstrap.min.js"></script>
    <script src="~/Content/themes/TAB/js/linkes_drilldown.js"></script>
    <script src="~/Content/themes/TAB/js/moment.js"></script>
    <script src="~/Content/themes/TAB/js/jquery.mCustomScrollbar.js"></script>
    <script src="~/Content/themes/TAB/js/chosen.jquery.js"></script>
    <script src="~/Content/themes/TAB/js/jquery.flagstrap.js"></script>
    <script src="~/Scripts/AppJs/AttachmentViewer.js"></script>
    <script src="~/Scripts/AppJs/MainMaster.js"></script>
    @************"~/bundles/MainJS"******************************@

    <style>  @@media (min-width: 935px) { #wrapper { padding-left: 0px; } }</style>

    <script type="text/javascript">
        var ie='';
    </script>


    <script type="text/javascript">


        //-----Start MyQueries :Added by Milan Patel

        function setQueryLabel_Click() {
            //if(getCookie('myQueryValue') == -1)
            //    return false;
            if ($('#txtTitle').css('display') == 'none')
            {
                $("#hdnTitle").val('true');
                $("#Dialog_Query_lblTitle").hide();
                $("#Dialog_Query_lblTitle").next().show();
                setTimeout(function () { $('#txtTitle').focus(); }, 100);
            }
            return false;
        }

        //End MyQueries :Added by Milan Patel----------------------------------------------------

        function setCancelQueryWindow_Click() {
            setCookie('hdnMenuIds', getCookie('hdnMenuIdsOld'));
            delCookie('hdnMenuIdsOld');
            modalPopupAsuncClose();
        }

        function fn_FloatingButtons_QueryWindowFilter() {
            setTimeout(function () {
                if ($('.modalblock').hasScrollBar()) {
                    $('.modalblock').scrollTop($('.modalblock').get(0).scrollHeight - $('.modalblock').height());
                }
            }, 800);
        }
        function fn_FloatingButtons_BatchRequest() {
            setTimeout(function () {
                if ($('.modalblock').hasScrollBar() && $('.divLocate').css('display')!='none') {
                    $('#mdlFooterClone').empty().html($('.modal-content .divLocate .modal-footer').clone());
                    $('#mdlFooterClone').find('.modal-footer').css({ 'margin-left': '2px'});
                    $('.modalblock').scroll(function () {
                        if ($('.modalblock').get(0).scrollHeight > (($('.modalblock').height() + $('.modalblock').scrollTop()) + 80)) {
                            $('#mdlFooterClone').addClass('affixed');
                        }
                        else {
                            $('#mdlFooterClone').removeClass('affixed');
                        }
                    });
                }
                else if ($('.modalblock').hasScrollBar() && $('.divLocate').css('display')=='none') {
                    $('#mdlFooterClone').empty().html($('.modal-content .divWorkpad .modal-footer').clone()).show();
                    $('#mdlFooterClone').find('.modal-footer').css({ 'margin-left': '24px'});
                    $('.modalblock').scroll(function () {
                        if ($('.modalblock').get(0).scrollHeight > (($('.modalblock').height() + $('.modalblock').scrollTop()) + 65)) {
                            $('#mdlFooterClone').addClass('affixed');
                            $('.model-content .divWorkpad .modal-footer').hide();
                        }
                        else {
                            $('#mdlFooterClone').removeClass('affixed');
                            $('.model-content .divWorkpad .modal-footer').show();
                        }
                    });
                }
                else {
                    $('#mdlFooterClone').hide();
                }
            }, 800);
        }

        function chkSearchResults() {
            var vrViewText ='';
            if ($('.result_msg table tbody tr').length <= 2) {
                $('.result_msg table tbody tr').each(function(index,value){
                    if(index==0)
                    {
                        value.innerHTML = value.innerHTML.replace(/<a/g , "<a onClick='javascript:return false;'");
                        value.innerHTML = value.innerHTML.replace(/darkblue/g , "gray");
                    }
                    else {
                        var vrShowTextIndex = value.innerHTML.indexOf("Show All");
                        if(vrShowTextIndex>0){
                            vrViewText = $(value).html().split("'")[1];
                        }
                        isShowAll = true;
                        var vrA = "<a onClick='SetHomeBreadcrumb(this,\""+vrViewText+"\")'";
                        value.innerHTML = value.innerHTML.replace(/<a/g , vrA);
                    }
                });
            }
            else
            {
                $('.result_msg table tbody tr').each(function(index,value){
                    var vrShowTextIndex = value.innerHTML.indexOf("Show All");
                    if(vrShowTextIndex>0){
                        vrViewText = $(value).html().split("'")[1];
                    }

                    var vrA = "<a onClick='SetHomeBreadcrumb(this,\""+vrViewText+"\")'";
                    value.innerHTML = value.innerHTML.replace(/<a/g , vrA);
                });
            }
        }
        //moti mashia need to be fix.
        function SetHomeBreadcrumb(elem, vrViewText) {
            var vrBrL0='';
            var vrBrL1 = '';
              //create cookies for document viewer add by Moti Mashiah
            if (elem.href.split('//')[1].split('/')[1] == "DocumentViewer") {
                setCookie("searchInput", $("#txtSearch").val());
            }
            $(".drillDownMenu").find("a:contains('"+vrViewText+"')").each(function(index,value){
                if(value.id.indexOf('AL')==0 && (index==0||index==1))
                {
                    vrBrL0 = $('#'+value.id).parent().parent().parent().find('a')[0].id;
                    vrBrL1 = value.id;
                    setCookie('hdnMenuIds',vrBrL0 + '|' + vrBrL1 ,1);
                }
                if(value.id.indexOf('FAL')==0 && index==0)
                {
                    vrBrL1 = $('#'+value.id).parent().parent().parent().find('a')[0].id;
                    vrBrL0 = $('#'+vrBrL1).parent().parent().parent().find('a')[0].id;
                    setCookie('hdnMenuIds',vrBrL0 + '|' + vrBrL1 ,1);
                }
            });
            if (elem.innerText === 'Show All') {
                $('#divmenuloader').removeClass("loaderMain-wrapper");
                if (!$("#divmenuloader").hasClass("loaderMain-search-wrapper"))
                    $('#divmenuloader').addClass("loaderMain-search-wrapper");
                $('#divmenuloader').show();
                $('.modal .fade').modal('show');
            }
            else {
                if (!$("#divmenuloader").hasClass("loaderMain-wrapper"))
                    $('#divmenuloader').addClass("loaderMain-wrapper");
                $('#divmenuloader').removeClass("loaderMain-search-wrapper");
                $('#divmenuloader').hide();
            }
            delCookie('hdnMenuIdsOld');
        }

        function LoadQueryWindow(mnuId, id, url) {
            localStorage.setItem("viewId", id);
            setCookie('hdnMenuIdsOld',getCookie('hdnMenuIds'));
            var L0 = $('#'+mnuId.id).parent().parent().parent().parent().parent().find('a')[0].id;
            var L1 = $('#'+mnuId.id).parent().parent().parent().find('a')[0].id;
            setCookie('hdnMenuIds',L0 + '|' + L1 + '|' + mnuId.id,1);
            if(id!=''){
                //Start MyQueries :Added by Milan Patel -----------------
                if(id.indexOf('_') > 0)
                {
                    setCookie('hdnMenuIds',L1 + '|' + mnuId.id,1);
                    var ids = id.split('_');
                    //$("#hdnmyQueriesId").val(ids[1]);
                    $("#hdnviewId").val(ids[0]); // Added value from array after spliting viewid
                    setCookie("myQueryValue",ids[1]);
                    setCookie("SavedCriteriaType",ids[1]+"_"+ids[2]);
                    setCookie("myQueryName",mnuId.innerText);
                    if(ids[2]=='1')
                    {
                        $("#hdnBreadCrumbsClick").val('1');
                        setCookie("myQueryValue",-1);
                        setCookie("myQueryName",'');
                    }
                    else
                        $("#hdnBreadCrumbsClick").val('0');
                }
                else
                {
                    //$("#hdnmyQueriesId").val(0);
                    $("#hdnviewId").val(id);
                    setCookie("myQueryValue",0);
                    setCookie("myQueryName",'');
                    setCookie("SavedCriteriaType",'');
                    $("#hdnBreadCrumbsClick").val('0');
                }
                //End MyQueries :Added by Milan Patel----------------------

                //$("#hdnviewId").val(id);
                $("#btnitem").click();
            }
            if(url != undefined && url!= '')
            {
                window.location = url;
            }
            else
            {
                var path = window.location.pathname;
                var page = path.split("/").pop();
                if(page=="tabquik.aspx" || page=="AuditReport.aspx")
                    window.location="data.aspx";
            }
        }
        //'''Changed by Ritesh - Start
        function LoadQueryWindowBreadCrumbs(id)
        {
            $("#hdnBreadCrumbsClick").val(1);
            if(id!=''){
                $("#hdnviewId").val(id);
                $("#btnitem").click();
            }
        }
        //'''Changed by Ritesh - End
        function CheckForLinkPermission(){
            var IsAccessAllowed = false;
            $.ajax({
                type: "POST",
                url: 'Admin/ValidateApplicationLink',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify({pModuleNameStr:'Label Integration'}),
                async: false,
                success: function(response){
                    if(response == "1"){
                        IsAccessAllowed = true;
                    }
                    else{
                        alert('@Languages.get_Translation("msgMainMasterAccessRightsForLabelMng").Replace("'", "\'")');
                        IsAccessAllowed = false;
                    }
                },
                failure: function(response) {
                    alert(response.d);
                }
            });
            return IsAccessAllowed;
        }
        function pageLoad()
        {
            var manager = Sys.WebForms.PageRequestManager.getInstance();
            //manager.add_endRequest(OnEndRequest);
            manager.add_beginRequest(OnBeginRequest);
            if (ie!='lte8') {
                if($("tr.tableFloatingHeaderOriginal").length==0)
                {
                    MakeFloatingHeader();
                }
            }
            //alert(document.activeElement);
            if(document.activeElement!=null)
            {
                //alert(document.activeElement.toString());
                if(document.activeElement.toString()!='[object HTMLInputElement]')
                    $('#ctl00_txtSearch').focus();
            }
            else
                $('#ctl00_txtSearch').focus();
            $('.menuLoadShow').each(function() {
                $(this).show();
            });
        }
        function OnBeginRequest(sender, args)
        {
            var postBackElement = args.get_postBackElement();
            if(postBackElement != undefined){
                if (postBackElement.id.indexOf('btnSearch')>-1)
                {
                    $get('ctl00_DialogProgress').style.display = "block";
                }
            }
        }

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-33627844-1']);
        _gaq.push(['_trackPageview']);


        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

        function InitializeRequest(sender, args) {
            if (!(args._postBackElement == null)) {
                if (args._postBackElement.id === 'Dialog_Search_imgClose') {
                    $('#divmenuloader').hide();
                }
            }
        }

        function EndRequest(sender, args) {
            // after update occur on UpdatePanel re-init the Autocomplete
            globalSearch();
        }
        function globalSearch() {
            $("input[id$=txtSearch]").autoComplete({
                source: function (term, suggest) {
                    term = term.toLowerCase();
                    $.ajax({
                        url: 'Data.aspx/globalSearchResult',
                        //data: "{ 'prefix': '" + request.term + "'}",
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            var choices = data.d;
                            var suggestions = [];
                            for (i = 0; i < choices.length; i++)
                                if (~choices[i].toLowerCase().indexOf(term)) suggestions.push(choices[i]);
                            suggest(suggestions);
                        }
                    });

                },
                minChars: 0
            });
        }

        var vrClientsRes = [];

        $(document).ready(function() {

            //Start AboutUs :Added by Milan Patel----------------------
            $('#lbAboutUs').click(function(){
                $.ajax({
                    type: "POST",
                    url: 'Admin/OpenAboutUs',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    async: false,
                    success: function (response) {
                        var msg = response;
                        $('#divAboutInfo').html(msg);
                        $('#dialog-form-AboutUs').modal('show');
                        $("#dialog-form-AboutUs .modal-dialog").draggable({ disabled: true });
                    },
                    failure: function(response) {
                        return false;
                    }
                });
            });
            //End AboutUs :Added by Milan Patel----------------------

            $(".notification-container").click(function(){
                $(".notification-counter").html("");
                $(".notification-counter").removeAttr("style");
            });
            setTimezoneCookie();
            $(".divMenu").mCustomScrollbar();

            var prm = Sys.WebForms.PageRequestManager.getInstance();
            prm.add_initializeRequest(InitializeRequest);
            prm.add_endRequest(EndRequest);

            // Place here the first init of the autocomplete
            globalSearch();


            $('.tastk_list').click(function(){
                setCookie("hdnMenuIds","");
            });
            $('.drillDownMenu').linkesDrillDown({cookieName:null,menuLevel:3});
            $(".rightdrildown").click(function () {
                $(this).addClass("rightdrildown_add");
            });

            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
                var vrToggleIcon = $(this).find('i');
                if(vrToggleIcon.hasClass('fa-chevron-left')){
                    vrToggleIcon.removeClass('fa-chevron-left').addClass('fa-chevron-right');
                }
                else{
                    vrToggleIcon.removeClass('fa-chevron-right').addClass('fa-chevron-left');
                    $('#divmenuloader').hide();
                }
            });

            //Start MyQueries :Added by Milan Patel----------------------
            if(getCookie('myQueryValue')!= null && getCookie('myQueryValue') != undefined && getCookie('myQueryValue') > 0){

                $('#ContentPlaceHolder1_divMyQueryDelete').css('display','inline-block');

                if(getCookie("SavedCriteriaType")!= null && getCookie('SavedCriteriaType') != undefined)
                {
                    var val = getCookie("SavedCriteriaType").split('_')[1];
                    if(val==="0")
                    {
                        $('#ContentPlaceHolder1_divMyQueryDelete').attr("data-toggle","tooltip");
                        $('#ContentPlaceHolder1_divMyQueryDelete').attr("data-original-title",'@Languages.get_Translation("tooltipDeleteQuery")');
                        //$('#ContentPlaceHolder1_divMyQueryDelete').attr("data-original-title","Delete My Query");
                    }
                }

                if (getCookie('hdnMenuIds') != undefined) {
                    var menuid = getCookie('myQueryName');
                    $('#divMenu').find('.MyQuery_Fav:first').find("a").each(function () {
                        if ($(this).text() == menuid) {
                            var id = $(this).attr("id");
                            var hdnMenuIds = getCookie('hdnMenuIds');
                            var selectMyQueryMenu = hdnMenuIds.split('|');
                            if(selectMyQueryMenu[0] + "|" + id != hdnMenuIds)
                            {
                                setCookie('hdnMenuIds', selectMyQueryMenu[0] + '|' + id, 1);
                            }
                        }
                    })
                }
            }
            if(getCookie('myQueryValue') == -1)
            {
                $('#ContentPlaceHolder1_divMyQueryDelete').attr("data-toggle","tooltip");
                $('#ContentPlaceHolder1_divMyQueryDelete').attr("data-original-title",'@Languages.get_Translation("tolltipDeleteFavorite")');
                //$('#ContentPlaceHolder1_divMyQueryDelete').attr("data-original-title","Delete My Favorite");
            }

            //End MyQueries :Added by Milan Patel----------------------

            if(getCookie('hdnMenuIds')!= null && getCookie('hdnMenuIds') != undefined){
                var vrBreadcrumb = "<li><a href='#'>"+'@Languages.get_Translation("mnuAdminHome")'+"</a></li>";
                var vrArr =getCookie('hdnMenuIds').split('|');
                $.each(vrArr, function( index, value ) {
                    vrBreadcrumb+= "<li class='glyphicon glyphicon-menu-right'><a href='#'>"+$('#'+value).text()+"</a></li>";
                    if((vrArr.length-1)>index){
                        if(value!="undefined"){
                            if(value.toString().indexOf('FAL') == -1){
                                $('#'+value).trigger('click');
                            }
                        }
                    }
                    if((vrArr.length-1)==index){
                        $('#'+value).addClass('selectedMenu');
                    }
                });

            }
            if(localStorage.getItem('vrClientsRes')== undefined ||localStorage.getItem('vrClientsRes')==null)
            {
                getLanguageText();
            }
            else
            {
                vrClientsRes = JSON.parse(localStorage.getItem('vrClientsRes'));
                if(getCookie(vrClientsRes["currentUserName"])== null || (getCookie(vrClientsRes["currentUserName"])!= null && getCookie(vrClientsRes["currentUserName"]).indexOf(vrClientsRes["cultureKey"])==-1))
                {
                    getLanguageText();
                }
            }
        });

        function ValidateMyQueryName(e) {
            var name = $('#txtTitle').val();
            if (typeof (name) === 'undefined') {
                return false;
            }
            $.ajax({
                type: "POST",
                url: 'data.aspx/ValidateMyQueryName',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify({ queryName: name, isTitleChanged: $('#hdnTitle').val() }),
                async: false,
                success: function (response) {
                    var msg = response.d;
                    if (msg=="") {
                        return true;
                    }
                    else if(msg=="My Query name should not be blank.")
                    {
                        var menuid = getCookie('myQueryName');
                        $('#txtTitle').val(menuid);
                        $('#Dialog_Query_lblTitle').text(menuid);
                        $('#toast-container').fnAlertMessage({title:'',msgTypeClass:'toast-warning', message:msg,timeout:2000});
                        e.preventDefault();
                        return false;
                    }
                    else {
                        $('#toast-container').fnAlertMessage({title:'',msgTypeClass:'toast-warning', message:msg,timeout:2000});
                        e.preventDefault();
                        return false;
                    }
                },
                failure: function(response) {
                    $('#toast-container').fnAlertMessage({title:'',msgTypeClass:'toast-warning', message:'Unknown Error',timeout:2000});
                    e.preventDefault();
                    return false;
                }
            });
        }

        function getLanguageText() {
            $.ajax({
                type: "POST",
                url: "Data.aspx/GetClientResourceKeys",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    vrClientsRes = response.d;
                    localStorage.setItem('vrClientsRes',JSON.stringify(vrClientsRes));
                    $('#hdnmsgSearchResultsAreAvailable').val(vrClientsRes["msgSearchResultsAreAvailable"]);
                    $('#hdnmsgSearchResultIsAvailable').val(vrClientsRes["msgSearchResultIsAvailable"]);
                    console.log(vrClientsRes + "this is me");
                },
                failure: function (response) {},
                error: function (xhr, status, error) {}
            });
        }
        function SetHideShowText(sel)
        {
            var result = sel.text().split(" ");
            if (result[result.length - 1] == "[+]")
                sel.text(vrClientsRes["Hide"]+" [-]");
            else
                sel.text(vrClientsRes["Show"]+" [+]");
        }
        function setTimezoneCookie() {
            var timezone_cookie = "timezoneoffset";

            // if the timezone cookie not exists create one.
            if (!$.cookie(timezone_cookie)) {
                // check if the browser supports cookie
                var test_cookie = 'test cookie';
                $.cookie(test_cookie, true);

                // browser supports cookie
                if ($.cookie(test_cookie)) {

                    // delete the test cookie
                    $.cookie(test_cookie, null);

                    // create a new cookie
                    $.cookie(timezone_cookie, new Date().getTimezoneOffset());
                    // re-load the page
                    //location.reload();
                }
            }
                // if the current timezone and the one stored in cookie are different
                // then store the new timezone in the cookie and refresh the page.
            else {
                var storedOffset = parseInt($.cookie(timezone_cookie));
                var currentOffset = new Date().getTimezoneOffset();
                // user may have changed the timezone
                if (storedOffset !== currentOffset) {
                    $.cookie(timezone_cookie, new Date().getTimezoneOffset());
                    //location.reload();
                }
            }
        }
        function MakeFloatingHeader(){
            $("table.tableWithFloatingHeader").each(function() {
                //$(this).wrap("<div class=\"divTableWithFloatingHeader\" style=\"position:absolute\"></div>");

                var originalHeaderRow = $("tr:first", this);
                $("div.ft_rel_container").each(function() {
                    var tableTmpl= function () {
                        return '<table />';
                    }

                    originalHeaderRow.before(originalHeaderRow.clone());
                    var clonedHeaderRow = $("tr:first", this);
                    clonedHeaderRow.addClass("tableFloatingHeader");
                    clonedHeaderRow.css("position", "absolute");
                    clonedHeaderRow.css("top", "1px");
                    clonedHeaderRow.css("left", "1px");
                    //clonedHeaderRow.css("right", "20px");
                    //clonedHeaderRow.css("visibility", "hidden");

                    originalHeaderRow.addClass("tableFloatingHeaderOriginal");
                    $(this).prepend((tableTmpl, {'class': 'ft_r ui-widget-header'}));
                    $(this).append(clonedHeaderRow);
                    var fixedCols=0;
                    UpdateTableHeaders();
                    $("div.ft_scroller").scroll(function () {

                        if (fixedCols > 0) {
                            clonedHeaderRow.css('top', ($(this).scrollTop()*-1));
                        }
                        clonedHeaderRow.css('left', ($(this).scrollLeft()*-1)+1);
                    });
                    $(window).resize(function () {

                        if (fixedCols > 0) {
                            clonedHeaderRow.css('top', ($(this).scrollTop()*-1));
                        }
                        clonedHeaderRow.css('left', ($(this).scrollLeft()*-1)+1);
                        UpdateTableHeaders();
                    });
                });
                /* */
            });
        }
        function UpdateTableHeaders() {
            $("div.ft_rel_container").each(function() {
                var originalHeaderRow = $(".tableFloatingHeaderOriginal", this);
                var floatingHeaderRow = $(".tableFloatingHeader", this);
                var first=1;
                var offset = $(this).offset();

                // Copy cell widths from original header
                $("th", floatingHeaderRow).each(function(index) {
                    var cellWidth;
                    if(first==1)
                    {
                        cellWidth = $("th", originalHeaderRow).eq(index).css('width');
                        $(this).css('width', (parseInt(cellWidth)+2)+"px");
                        first=0;
                    }
                    else
                    {
                        cellWidth = $("th", originalHeaderRow).eq(index).css('width');
                        $(this).css('width', cellWidth);
                    }
                });

                // Copy row width from whole table
                var w=parseInt(originalHeaderRow.css("width"));
                floatingHeaderRow.css("width", (w+10)+"px");

                var h=parseInt(floatingHeaderRow.css("height"));

                //floatingHeaderRow.css("height", (h-2)+"px");
                originalHeaderRow.css("min-height",(h)+"px");
            });
        }
        function modalPopupAsuncClose(){$('.modal').modal('hide');$('.modal-backdrop').remove()}

        //Added by hasmukh for date format
        function getDatePreferenceCookieForMoment() {
            var vUserName = $.cookie('lastUsername');
            if ($.cookie(vUserName)) {
                var dateFormat = 'mm/dd/yy';
                var readCookie = $.cookie(vUserName);
                readCookie = readCookie.split('&');
                for (i = 0; i < readCookie.length; i++) {
                    var readCookieArray = readCookie[i].split('=');
                    if (readCookieArray[0] == 'PreferedDateFormat') {
                        dateFormat = readCookieArray[1];
                    }
                }
                return dateFormat;
            }
            return undefined;
        }
        function fnImportFavorite_FileOpen()
        {
            $('#fileSource').val("");
            $('#fileSource').off('change').change(function () {
                var Tempfile = document.getElementById('fileSource').files[0];
                var fileName = Tempfile["name"];
                $('#'+$('#fileSource').parent().parent().find('[id*=InputFileName]').attr('id')).val('');
                var extensionArray = fileName.split(".");
                var extensionLength = extensionArray.length;
                var extension = null;
                if (extensionLength !== 0 && extensionLength !== 1)
                    extension = extensionArray[extensionLength - 1];
                if (extension == null || extension == "") {
                    extension = "txt";
                }
                extension = extension.trim().toLowerCase();
                var extArray = ["txt", "csv", "xls", "xlsx"];
                var allowFlag = jQuery.inArray(extension, extArray);
                if (allowFlag == -1) {
                    $('#toast-container').fnAlertMessage({title:'',msgTypeClass:'toast-warning', message:'Please select txt, csv, xls, xlsx file.',timeout:2000});
                    return false;
                }
                else
                {
                    $('#'+$('#fileSource').parent().parent().find('[id*=InputFileName]').attr('id')).val(fileName);
                    var d = $(this).next('[id*=btnUpload]').length;
                    var fileUpload = $("#fileSource").get(0);
                    var files = fileUpload.files;

                    var data = new FormData();
                    for (var i = 0; i < files.length; i++) {
                        data.append(files[i].name, files[i]);
                    }
                    var sURL= "ImportFileHandler.ashx?chkRowField="+$('#chk1RowFieldNames').is(':checked');
                    if (extension=='txt') {
                        sURL+="&del=tab";
                    }
                    else if(extension=='csv'){
                        sURL+="&del=comma";
                    }
                    document.cookie = 'SourceCol=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
                    $.ajax({
                        type: "POST",
                        url: sURL,
                        data: data,
                        processData: false,
                        contentType: false,
                        async: false,
                        success: function (data, status) {
                            var arrData = $.parseJSON(data);
                            var vrRadio = "";
                            for (var i = 0; i < arrData.length; i++) {
                                vrRadio+="<div class='radio'><input type='radio' onclick='fnSelectedSourceCol(this)' name='optRadio' id='"+i.toString()+"' ><label for='"+i.toString()+"'>"+arrData[i][0]+"</label></div>";
                            }
                            $('[id*=rblSourceCol1]').html('');
                            $('[id*=rblSourceCol1]').append(vrRadio);
                            $('[id*=aReport]').hide();
                            $('[id*=btnImportFavRecord]').removeAttr('disabled');
                        }
                    });
                }
            });
            $("#fileSource").click();
        }
        function fnSelectedSourceCol(obj){
            $('[id*=btnImportFavRecord]').removeAttr('disabled');
            setCookie('SourceCol',obj.id,1);
        }

        //Start : Added by Hasmukh for confirmation box
        function confirmClient(heading, question, cancelButtonTxt, okButtonTxt, callback) {
            var confirmModal =
                $('<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">' +
                    '<div class="modal-dialog">' +
                        '<div class="modal-content">' +
                            '<div class="modal-header">' +
                                '<h3>' + heading + '</h3>' +
                            '</div>' +
                            '<div class="modal-body">' +
                                '<p>' + question + '</p>' +
                            '</div>' +
                            '<div class="modal-footer">' +
                                '<button type="button" class="btn btn-default" data-dismiss="modal">' +
                                cancelButtonTxt + '</button>' +
                                '<a href="#" id="okButton" class="btn btn-danger btn-ok">' +
                              okButtonTxt +
                            '</a>' +
                            '</div>' +
                        '</div>' +
                    '</div>' +
                '</div>');

            confirmModal.find('#okButton').click(function (event) {
                var fn = window[callback];
                fn();
                confirmModal.modal('hide');
            });
            //confirmModal.ShowModel();
            confirmModal.modal({ show: true, keyboard: false, backdrop: 'static' });
        };

        //End : Added by Hasmukh for confirmation box
        function CheckFullTextEnabled(event)
        {
            var isFullTextSearchEnabled = false;

            $.ajax({
                type: "POST",
                async: false,
                url: "Data.aspx/IsTableHasActiveFulltextIndex",
                data: '{sTableName: "SLIndexer"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    var res = JSON.parse(response.d)
                    if (res.errortype == 's')
                        isFullTextSearchEnabled = true;
                    else if (res.errortype == 'e')
                        $('#toast-container').fnAlertMessage({ title: '', msgTypeClass: 'toast-error', message: res.message, timeout: 2500 });
                    else if (res.errortype == 'w')
                        $('#toast-container').fnAlertMessage({ title: '', msgTypeClass: 'toast-warning', message: res.message, timeout: 2500 });

                },
                failure: function (response) { },
                error: function (xhr, status, error) { }
            });
            //if (isFullTextSearchEnabled && event.target.id != "btnDefaultSearch") $('#hdnBtnSearch').click();
            if (isFullTextSearchEnabled) $('#hdnBtnSearch').click();
            return isFullTextSearchEnabled;
        }

        //Start : Added by Hasmukh for Delete records from Favourite List

        function DeleteFavouriteRecords()
        {
            $.ajax({
                type: "POST",
                url: "Data.aspx/DeleteRecordsFromFavourite",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    var res = JSON.parse(response.d)
                    if(res.errortype=='e')
                        $('#toast-container').fnAlertMessage({title:'',msgTypeClass:'toast-error', message:res.message,timeout:2000});
                    else if (res.errortype == 'w')
                        $('#toast-container').fnAlertMessage({title:'',msgTypeClass:'toast-warning', message:res.message,timeout:2000});
                    else
                    {
                        $('#toast-container').fnAlertMessage({title:'',msgTypeClass:'toast-success', message:res.message,timeout:2000});
                        var hdnMenuIds = getCookie('hdnMenuIds').split('|');
                        var idname = hdnMenuIds[hdnMenuIds.length-1];
                        setTimeout(function () { LoadQueryWindow($("#" + idname)[0],res.strMenuIds);  }, 2000);
                    }
                },
                failure: function (response) {},
                error: function (xhr, status, error) {}
            });
        }

        //End : Added by Hasmukh for Delete records from Favourite List
    </script>
    <script type="text/javascript">
        (function ( $ ) {
            $.fn.fnAlertMessage = function( options ) {
                var settings = $.extend({
                    title: "Success",
                    message: "Message",
                    timeout:3000,
                    msgTypeClass:'toast-success'//toast-warning
                }, options );
                return this.each(function(){
                    $('#'+this.id).fadeIn(settings.timeout/2).fadeOut(settings.timeout*3);
                    $('#'+this.id).find('.toast-title').html(settings.title);
                    $('#'+this.id).find('.toast-message').html(settings.message);
                    $('#toast-container').find('.toast').removeClass('toast-success').removeClass('toast-error').removeClass('toast-warning').addClass(settings.msgTypeClass);
                });
            };

        }( jQuery ));
        (function ($) {
            $.fn.hasScrollBar = function () {
                return this.get(0).scrollHeight > this.height();
            }
        })(jQuery);
    </script>
    <script>
        $(document).ready(function () {
            $('.navbar-brand').attr('href', '#');
        });

        //FUS-1931 fix
        window.onfocus = function () {
            if (getCookie("mustChangePassword") == "False") {
                window.location.href = window.location.origin + "/data";
            }
        }
        //FUS-1931 fix


        function ChangePassword()
        {
           if($("#txtNewPass2").val() == "" || $("#txtNewPass1" ).val() =="" ||  $("#txtOldPass").val() =="")
           {
               return false;
           }

           $("#divmenuloader").show();

           var data= JSON.stringify({txtNewPass2 : $("#txtNewPass2").val(),txtNewPass1 : $("#txtNewPass1" ).val(),txtOldPass : $("#txtOldPass").val()})

            $.ajax({
                type: "post",
                url: "ChangePassword/UpdatePass",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data:data,
                success: function (response) {
                   
                    if(response.isError)
                    {
                        $("#divmenuloader").hide();
                        $("#lblError").html(response.Msg);
                        return;
                    }

                    if(!response.isSuccess)
                    {
                        $("#divmenuloader").hide();
                        $("#lblError").html(response.Msg);
                        return;
                    }

                    if(response.isSuccess)
                    {
                        window.location.href = window.location.origin + "/data";
                    }
                },
                failure: function (response) {$("#divmenuloader").hide();},
                error: function (xhr, status, error) {$("#divmenuloader").hide();}
            });
        }

    </script>




</head>
<body id="MasterBody" runat="server">
    <input type="hidden" id="hdnHomeVal" value="@Languages.get_Translation("mnuAdminHome")" />
    <div id="toast-container" class="toast-top-center" style="display: none;">
        <div class="toast toast-success">
            <div class="toast-title"></div>
            <div class="toast-message"></div>
        </div>
    </div>
    <div id="form1" runat="server" style="position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; min-height: 500px;" enctype="Multipart/Form-Data">
        <input type="hidden" id="hdnMenuIds" value="0" />
        <input type="hidden" id="hdnmsgSearchResultsAreAvailable" value="0" />
        <input type="hidden" id="hdnmsgSearchResultIsAvailable" value="0" />

        <!--Search-->
        <div id="wrapper">
            <!-- left panel start -->
            <div id="page-content-wrapper">


                <div style="margin-top: 53px;">
                    <div class="row">
                        <div class="col-lg-3 col-md-2"></div>
                        <div class="col-lg-6 col-md-8">
                            <table style="background-color: #f1f1f1; border: inset 2px silver; margin: auto; width: 90%;" cellpadding="5" cellspacing="5">
                                <tr>
                                    <td>


                                        <div class="modal-header" id="modalHeaderTemp">
                                            <h4 class="modal-title">@Languages.get_Translation("ChangePassword")</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-horizontal">
                                                <div class="form-group">
                                                    <label for="txtOldPass" class="col-md-4 control-label">@Languages.get_Translation("OldPass")</label>
                                                    <div class="col-md-7">
                                                        <input type="password" id="txtOldPass" class="form-control" />
                                                    </div>
                                                    
                                                    <div class="col-md-1">
                                                        @*<asp:RequiredFieldValidator Id="rfvTxtOldPass" runat="server" ValidationGroup="ChangePassword"
                                                                                    ControlToValidate="txtOldPass" ErrorMessage="*" ForeColor="red">
                                                        </asp:RequiredFieldValidator>*@
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="txtNewPass1" class="col-md-4 control-label">@Languages.get_Translation("NewPass")</label>
                                                    <div class="col-md-7">
                                                        <input type="password" id="txtNewPass1" class="form-control" maxlength="20"/>
                                                    </div>
                                                    <div class="col-md-1">
                                                        @*<asp:RequiredFieldValidator Id="rfvtxtNewPass1" runat="server" ValidationGroup="ChangePassword"
                                                                                    ControlToValidate="txtNewPass1" ErrorMessage="*" ForeColor="red">
                                                        </asp:RequiredFieldValidator>*@
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="txtNewPass2" class="col-md-4 control-label">@Languages.get_Translation("ConfrmPass")</label>
                                                    <div class="col-md-7">
                                                        <input type="password" id="txtNewPass2" class="form-control" maxlength="20"/>
                                                    </div>
                                                    <div class="col-md-1">
                                                        @*<asp:RequiredFieldValidator Id="rfvtxtNewPass2" runat="server" ValidationGroup="ChangePassword"
                                                                                    ControlToValidate="txtNewPass2" ErrorMessage="*" ForeColor="red">
                                                        </asp:RequiredFieldValidator>*@
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"></div>
                                                    <div class="col-md-8">
                                                        <label id="lblError" style="color:red"></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button id="btnChangePassword" class="btn btn-success text-uppercase" onclick="ChangePassword()">Change Password</button>
                                            @*<asp:Button ID="btnChangePassword" runat="server" Text="Change Password" CssClass="btn btn-success text-uppercase" ValidationGroup="ChangePassword" />*@
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-lg-3 col-md-2"></div>
                    </div>
                </div>


            </div>
        </div>
        <div id="DialogProgress" style="display:none">
            <div>
                <div class="loaderMain-wrapper">
                    <div class="loaderMain"></div>
                </div>
            </div>
        </div>
        <div id="divmenuloader" class="loaderMain-wrapper" style="display:none;">
            <div class="loaderMain"></div>
        </div>

        <div class="form-horizontal" id="divAboutInfo">
        </div>
    </div>
</body>
</html>
