@using TabFusionRMS.WebCS.Controllers;
@using TabFusionRMS.Resource;
<form  class="form-horizontal" id="frmAddEditTask" role="form" ReturnUrl = ViewData("ReturnUrl") >
    <div Class="modal fade in form-horizontal" id="modalTask" tabindex="-1" role="dialog" aria-labelledby="myModalTask">
        <div Class="modal-dialog modal-sm">
            <div Class="modal-content">
                <div Class="modal-header">
                    <Button id="btnClose" type="button" Class="close" data-dismiss="modal" aria-hidden="true">×</Button>
                    <h4 Class="modal-title" id="titleAddEditTask">@Languages.get_Translation("addTaskList")</h4>
                    <input type="hidden" value="0" id="hiddenTaskWidgetId" />
                </div>
                <div Class="modal-body row-44">
                    <fieldset Class="admin_fieldset">
                        <legend>@Languages.get_Translation("widgetInformation")</legend>
                        <div Class="row">
                            <div Class="col-sm-12">
                                <div Class="form-group">
                                    <Label Class="col-sm-4 control-label" for="UserName">@Languages.get_Translation("widgetName")</Label>
                                    <div Class="col-sm-8">
                                        <input autofocus="" Class="form-control" id="taskWidgetName" name="taskWidgetName" placeholder="@Languages.get_Translation("widgetName")" required="" type="text" value="" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div Class="row">
                            <div Class="col-sm-12">
                                <div Class="form-group">
                                    <Label Class="col-sm-4 control-label" for="lstView">@Languages.get_Translation("refresh")</Label>
                                    <div Class="col-sm-8">
                                        <select id="taskRefreshTime" name="taskRefreshTime" class="form-control">
                                            <option value="0" selected>Manual Refresh</option>
                                            <option value="5">5 minutes</option>
                                            <option value="10">10 minutes</option>
                                            <option value="15">15 minutes</option>
                                            <option value="20">20 minutes</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div Class="modal-footer">
                    <Button id="btnTaskChart" type="button" Class="btn btn-primary">@Languages.get_Translation("Add")</Button>
                    <Button type="button" Class="btn btn-default" data-dismiss="modal" aria-hidden="true">@Languages.get_Translation("Cancel")</Button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</form>

<script>
    dashboardfunc.PreventEnter();
</script>
