@using TabFusionRMS.Resource

@{
    ViewData["Title"] = Languages.get_Translation("CitationMaintenance");
    Layout = "~/Views/Shared/_LayoutRetention.cshtml";
}

<section class="content-header">
    <h1 class="main_title">
        <span id="title">@Languages.get_Translation("tiCitationMaintenanceCitaCodeMaintenance")</span>
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-sm-12 col-md-12 ">
            <div class="pull-right">
                <input type="button" id="gridAdd" name="gridAdd" value="@Languages.get_Translation("Add")" class="btn btn-primary" />
                <input type="button" id="gridEdit" name="gridEdit" value="@Languages.get_Translation("Edit")" class="btn btn-primary" />
                <input type="button" id="gridRemove" name="gridRemove" value="@Languages.get_Translation("Remove")" class="btn btn-primary" />
            </div>
        </div>
        <div class="col-sm-12 col-md-12 m-t-10">
            <div class="table-responsive jqgrid-cus">@Html.Hidden("tiAssignCitationCodeCitations", Languages.get_Translation("tiAssignCitationCodeCitationCodes"))
                <div id="divCitationCodeGrid">
                    <table id="grdCitationCode"></table>
                    <div id="grdCitationCode_pager">
                    </div>
                </div>
            </div>
        </div>
        <div id="AddEditCitationCodeDialog"></div>
    </div>
</section>
<script src="@Url.Content("~/Scripts/AppJs/Citation.js")"></script>